In [153]:
import pandas as pd

In [154]:
                                        #creacion de df por cada archivo suministrado de la informacion de las plataformas
                                        # Importación del fichero datos-amazon_prime_titles.csv
df_amazonp = pd.read_csv('datasets/amazon_prime_titles.csv', sep = ',')
                                        # Importación del fichero datos-disney_plus_titles.csv
df_disneyp = pd.read_csv('datasets/disney_plus_titles.csv', sep = ',')
                                        # Importación del fichero datos-hulu_titles.csv
df_hulu = pd.read_csv('datasets/hulu_titles.csv', sep = ',')
                                        # Importación del fichero datos-netflix_titles.json
df_netflix = pd.read_json('datasets/netflix_titles.json', lines=False)

In [155]:
                                        #validación de informacion de cada df
#df_amazonp.info()
#df_disneyp.info()
df_hulu.info()
#df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [156]:
                                        #varificacio de estado de cada df
#df_amazonp.head(30)
#df_disneyp.head()
#df_hulu.head()
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,None,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",None,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,None,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [158]:
                                    #sumatoria de None en cada df
#df_amazonp.isna().sum()
#df_disneyp.isna().sum()
df_hulu.isna().sum()
#df_netflix.isna().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [159]:
                                    #revision de duplicados en cada df
#df_amazonp[df_amazonp.duplicated()]
#df_disneyp[df_disneyp.duplicated()]
#df_hulu[df_hulu.duplicated()]
df_netflix[df_netflix.duplicated()]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [160]:
                                    #revision de cantidad de filas y columnas de cada df
#df_amazonp.shape
#df_disneyp.shape
#df_hulu.shape
df_netflix.shape

(8807, 12)

In [161]:
                                    #creacion de columna de plataform  en cada df 
df_amazonp['plataform']= 'Amazon'
df_disneyp['plataform']= 'Disney'
df_hulu['plataform']= 'Hulu'
df_netflix['plataform']= 'Netflix'

In [162]:
                                    #concatenacion de los df a uno solo conteniendo toda la información
df=pd.concat([df_amazonp,df_disneyp,df_hulu,df_netflix],axis=0)
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataform
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,Amazon
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,Amazon
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,Amazon
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",Amazon
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,Amazon

In [163]:
                                    #revision de datos unicos en cada columna para verificacion de informacion y posterior eliminacion
df.rating.unique()

array([nan, '13+', 'ALL', '18+', 'R', 'TV-Y', 'TV-Y7', 'NR', '16+',
       'TV-PG', '7+', 'TV-14', 'TV-NR', 'TV-G', 'PG-13', 'TV-MA', 'G',
       'PG', 'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_', 'ALL_AGES',
       'NOT_RATE', 'TV-Y7-FV', 'NOT RATED', '2 Seasons', '93 min',
       '4 Seasons', '136 min', '91 min', '85 min', '98 min', '89 min',
       '94 min', '86 min', '3 Seasons', '121 min', '88 min', '101 min',
       '1 Season', '83 min', '100 min', '95 min', '92 min', '96 min',
       '109 min', '99 min', '75 min', '87 min', '67 min', '104 min',
       '107 min', '84 min', '103 min', '105 min', '119 min', '114 min',
       '82 min', '90 min', '130 min', '110 min', '80 min', '6 Seasons',
       '97 min', '111 min', '81 min', '49 min', '45 min', '41 min',
       '73 min', '40 min', '36 min', '39 min', '34 min', '47 min',
       '65 min', '37 min', '78 min', '102 min', '129 min', '115 min',
       '112 min', '61 min', '106 min', '76 min', '77 min', '79 min',
       '157 min', '28 min', '64 min', '7 min', '5 min', '6 min',
       '127 min', '142 min', '108 min', '57 min', '118 min', '116 min',
       '12 Seasons', '71 min', '74 min', '66 min', None, 'UR'],
      dtype=object)

In [164]:
                                    #eliminación de columnas que no constituyen informacion relevante para las querys
df=df.drop(['show_id','director', 'country','date_added', 'description'],axis=1)

In [165]:
                                    #validacion de datos de rating que deben estar en duration, y validar nan con un filtro
filter_df = df[df['rating'].notna()]
                                    #creacion de un df que contenda los datos de ratin que tienen 'min'
df_min = filter_df[filter_df["rating"].str.contains("min")]
#                                   creacion de un df que contenda los datos de ratin que tienen 'season'
df_season = filter_df[filter_df["rating"].str.contains("Season")]
                                    #concatenacion de los 2 df que resultaron del filtro
filter_df=pd.concat([df_min,df_season],axis=0)
                                    #copiado de los datos de las columnas rating a duration 
filter_df["duration"] = filter_df["rating"]
                                    #creacion de df final  
final_df =df.combine_first(filter_df)

In [166]:
                                    #eliminacion de la columna ration de el df final       
final_df = final_df.drop(['rating'], axis=1)

In [167]:
                                  #separacion de actores por ',' y luego la integracion de ellos en el df final       
final_df['cast'] = final_df['cast'].str.split(',')
final_df = final_df.explode('cast')

In [168]:
final_df.head()

,type,title,cast,release_year,duration,listed_in,plataform
0,Movie,The Grand Seduction,Brendan Gleeson,2014,113 min,"Comedy, Drama",Amazon
0,Movie,The Grand Seduction,Taylor Kitsch,2014,113 min,"Comedy, Drama",Amazon
0,Movie,The Grand Seduction,Gordon Pinsent,2014,113 min,"Comedy, Drama",Amazon
0,Movie,Duck the Halls: A Mickey Mouse Christmas Special,Chris Diamantopoulos,2016,23 min,"Animation, Family",Disney
0,Movie,Duck the Halls: A Mickey Mouse Christmas Special,Tony Anselmo,2016,23 min,"Animation, Family",Disney

In [169]:
                                    #funcion para la busqueda de mayor duracion segun año plataforma 
def get_max_duration(year,plataform,duration):
    filter_df = final_df[final_df["plataform"] == plataform]
    filter_df = filter_df[filter_df["release_year"] == year]
    filter_df = filter_df.drop_duplicates(subset='title', keep="last")
    filter_df['duration_min'] = filter_df['duration'].str.split(' ').str[0].astype(float)
    final = filter_df.loc[filter_df['duration_min'] == max(filter_df["duration_min"])]
    final = final["title"].values[0]
    return final

In [170]:
get_max_duration(2018,'Hulu','min')

'Loro'

In [181]:
                                #funcion para busqueda de cantidad de peliculas por plataforma
                                #se realizan filtros
def get_count_plataform(plataform):
    filter_df = final_df
    filter_df = filter_df[filter_df["plataform"] == plataform]
    filter_df = filter_df[(filter_df['type']=='Movie') | (filter_df['type']=='TV Show')]
    filter_df = filter_df.drop_duplicates(subset='title', keep="last")
    filter_df = filter_df[["title","type",]].groupby("type").count()
    return filter_df

In [172]:
get_count_plataform('Netflix')

         title
type
Movie     6131
TV Show   2676

In [173]:
def get_listed_in(listed_in):
    filter_df = df[df["listed_in"].str.contains(listed_in)]
    final = filter_df[["plataform","listed_in"]].groupby("plataform").count()
    return final

In [174]:
get_listed_in('Comedy')

           listed_in
plataform
Amazon          2099
Disney           526
Hulu             667
Netflix          399

In [226]:
def get_actor(plataform, year):
    filter_df = final_df
    filter_df = filter_df[filter_df["plataform"] == plataform]
    filter_df = filter_df[filter_df["release_year"] == year]
    filter_df = filter_df[["cast"]].groupby("cast").count()
   
    
    return filter_df

In [227]:
get_actor('Netflix',2018)

Empty DataFrame
Columns: []
Index: [ 2 Chainz,  50 Cent,  A Boogie Wit tha Hoodie,  A.C. Peterson,  A.J. LoCascio,  AFRA,  Aadarsh Balakrishna,  Aaditi Pohankar,  Aadukalam Naren,  Aamir Qureshi,  Aanchal Munjal,  Aaron Abrams,  Aaron Blakely,  Aaron Jakubenko,  Aaron Jeffery,  Aaron L. McGrath,  Aaron Moten,  Aaron Munoz,  Aaron Taylor-Johnson,  Aarubala,  Aarya Dave,  Aaryan Menon,  Aashish Kulkarni,  Abayomi Alvin,  Abboudy Mallah,  Abby Quinn,  Abby Ryder Fortson,  Abby Trott,  Abdel Nasser Maraqbi,  Abdulla Bu Shehri,  Abdullah Al Yousef,  Abdullah Al-bloshi,  Abdullah Bahman,  Abdullah Bin Heider,  Abdulmohsen Al-Qaffas,  Abdur Arsyad,  Abdurrahman Arif,  Abel Folk,  Abena Ayivor,  Abhay Kulkarni,  Abhinav Gomatam,  Abhishek Banerjee,  Abi Brittle,  Abigail Breslin,  Abigail Cruttenden,  Abigail Pniowsky,  Abimana Aryasatya,  Abishek K.S.,  Abril Schreiber,  Abu Valayamkulam,  Ace Harney,  Ada Pan,  Adain Bradley,  Adam Deacon,  Adam Gussow,  Adam Hochstetter,  Adam Jagwani,  Adam Jezierski,  Adam Lustick,  Adam Mayfield,  Adam Shapiro,  Adan Otero,  Adarsh Kurne,  Addison Timlin,  Adebayo Salami,  Adebukola Oladipupo,  Adel Bencherif,  Ademola Adedoyin,  Adeolu Adefarasin,  Adesua Etomi,  Adi Kvetner,  Adil Dehbi,  Adil Hussain,  Aditi Sharma,  Aditya Hitkari,  Aditya Raaj,  Adjetey Anang,  Adlu Fahrezy,  Adnan Jaffar,  Adnan Malik,  Adnan Shah,  Adora Dei,  Adrian Pang,  Adrian Petriw,  Adriana Arango,  Adriana Ozores,  Adriana Torrebejano,  Adrianna Edwards,  Adriano Garib,  Adriano Qalbi,  Adrienne Pickering,  Adrienne Rose White,  Adrià Salazar,  Adrián Lastra,  Adrián Núñez,  Adunni Ade,  Adèle Wismes,  Afdhal Yusman,  Affion Crockett,  Afra Saraçoğlu, ...]

[6825 rows x 0 columns]